page-welcome {

#home-bg-container{
    background-image: url('../../assets/imgs/home_bg.jpg');
    .col{
        text-align: center;
        padding:12px;
    }
}
#home-navbar{
    .toolbar-background-md {
        background: #2c2c40;
    }
    .toolbar-title {
        color:white;
        font-weight: 1;
    }
}

#home-comments-block{


}
.home-row-container{
    width:100%;
}
.home-row{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.home-block{
    width: 20%;
    height: 100px;
    background-image: url('../../assets/imgs/home_where.jpg');
    margin: 10px;

}



}
